<div class="post">
    <h1 class="post-title">{{ .Title }}</h1>
    <h2 style="color:#787878;">
    	<small>
    		<em>
    			{{ .Description }}
    		</em>
    		<span class="post-date pull-right">{{ .Date.Format "02 Jan 2006" }}</span>
    	</small>
    </h2>
    <small>
	  Tags: {{ range .Params.tags }}
	    <a href="/tags/{{ . | urlize }}" class="m-btn rnd red" style="color:#FFFFFF;">{{ . }}</a>
	  {{ end }}
	</small>
	<br>
	<br>
    {{ .Content }}
</div>
{{ template "_disqus/disqus.html" . }}
