<div class="intro">
    {{ .Content }}
</div>
<div class="posts">
    {{ $count := 0 }}
    {{/* for each piece of content */}}
    {{ range .Site.Recent }}
        {{/* if it's a post and we haven't already shown 10 yet */}}
        {{ if and (eq .Type "post") (lt $count 10) }}

            {{/* increment the count and display it */}}
            {{ $count := (add $count 1) }}

            <div class="post">
                <h2 class="post-title">
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                        <span style="color:#A9A9A9;">
                            <small>(Reading time: 
                                {{ if eq .ReadingTime 1 }}
                                    {{ .ReadingTime }} minute)
                                {{ else }}
                                    {{ .ReadingTime }} minutes)
                                {{ end }}
                            </small>
                        </span>
                </h2>
                <small>
                    <span class="post-date pull-right">
                    Posted on {{ .Date.Format "02 Jan 2006" }}
                    </span>
                </small>
                </h3>
                    <small>
                        {{ .Summary }}
                    </small>
                </h3>
                <br>
                <a class="m-btn red-striped" href="{{ .Permalink }}">Read More
                    <span class="fa fa-angle-double-right"></span>
                </a>
            </div>
        {{ end }} {{/* endif */}}
    {{ end }} {{/* endrange */}}
</div>
